
.overviewText{


    font-family: Nunito Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    color: #83858B;

}
.overviewTextBox{
    width: 125px;
height: 38px;
border: 1px solid red;
}

.numberBoxes{
    width: 1,212px;
height: 98px;
display: flex;
justify-content: space-between;
border:1px solid blue;

}
.number{
    height: 232 px;
    width: 98px;
    border: 1px solid black;
}